
.header{
  height: 55px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(222, 222, 222);
  z-index: 100;
}

.left{
  align-items: center;
  display: flex;
}

.nav{
  height: 24px;
  margin-right: 24px;
  margin-left: 24px;
}

.youtube-logo{
  height: 20px;
  
}

.center{
  display: flex;
  align-items: center;
  flex: 1;
  margin-left: 70px;
  margin-right: 35px;
  max-width: 500px;
}

.search-bar{
  height: 36px;
  width: 0;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-color: rgb(204, 204, 204);
  border-style: solid;
  flex: 1;
  border-radius: 2px;
  box-shadow: inset 1px 2px 3px rgba(0,0,0, 0.05);

}

.search-bar::placeholder{
  font-family: Roboto, Arial;
  font-size: 16px;
}

.search-button{
  height: 40px;
  width: 66px;
  margin-left: -1px;
  border-width: 1px;
  margin-right: 10px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  background-color: rgb(247, 247, 247); 
}
.search-button,
.speak-button{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-button .tooltip,
.speak-button .tooltip
{
  position: absolute;
  background-color: gray;
  color: white;
  font-size: 12px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  bottom: -30px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.search-button:hover .tooltip,
.speak-button:hover .tooltip
{
  opacity: 1;
}

.search-img{
  height: 25px;
}

.speak-button{
  border-radius: 20px;
  height: 40px;
  width: 40px;
  margin-left: 10px;
  border: none;
  background-color: rgb(247, 247, 247);
}

.speak-img{
  height: 24px;
}

.right{
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.icon1{
  height: 24px;
  vertical-align: middle;
}

.upload-icon,
.youtube-apps,
.notifications{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-icon .tooltip,
.youtube-apps .tooltip,
.notifications .tooltip{
  position: absolute;
  background-color: gray;
  color: white;
  font-size: 12px;
  font-family: Roboto, Arial;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 2px;
  bottom: -30px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.15s;
  white-space: nowrap;
}

.upload-icon:hover .tooltip,
.youtube-apps:hover .tooltip,
.notifications:hover .tooltip{
  opacity: 1;
}

.icon2{
  height: 24px;
}

.icon3{
  height: 24px;
}

.number{
  position: absolute;
  top: -2px;
  right: -7px;
  background-color: rgb(204, 0, 0);
  color: white;
  border-radius: 10px;
  font-size: 11px;
  font-weight: 400;
  font-family: Roboto, Arial;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
}

.icon4{
  height: 32px;
  border-radius: 18px;
}
