.side-bar{
  background-color: white;
  position: fixed;
  top: 55px;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-icon{
  height: 74px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  cursor: pointer;
}

.sidebar-icon:hover{
  background-color: rgb(235,235,235);
}

.side-bar img{
  height: 24px;
  color: rgb(33, 37, 41); 
  margin-bottom: 4px;
}

.side-bar div{
  font-family: Roboto Arial;
  font-size: 10px;
}